<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Warn"
      internalLogFile="internal-nlog.log">

  <!-- Define various log targets -->
  <targets>
    <!-- Console target -->
    <target xsi:type="Console" name="console" layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=toString}" />

    <!-- File target -->
    <target xsi:type="File" name="file" fileName="${basedir}/OmronFinsNetStandard/Logs/${shortdate}.log"
            layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=toString}"
            concurrentWrites="true"
            keepFileOpen="false" />
  </targets>

  <!-- Rules to map loggers to targets -->
  <rules>
    <logger name="OmronFinsNetStandard.*" minlevel="Info" writeTo="file,console" />
  </rules>
</nlog>
